GrayCodePattern2/.vs
GrayCodePattern2/x64
GrayCodePattern2/GrayCodePattern3.VC.db
GrayCodePattern2/GrayCodePattern2/x64
GrayCodePattern2/GrayCodePattern2/Path.cpp
GrayCodePattern2/GrayCodePattern2/GrayCodePattern2.vcxproj

GrayCodePattern3.VC.VC.opendb

v.MOV